footer {
    
    
}

.footer {
    position: absolute;
    
    bottom: 0;
    height: 72px;
    font-family: 'Exo 2', sans-serif;
    
    margin: 24px 0; 
    width: 100vw;
}

.footer_nav {
    position: absolute;
    bottom: 13px;
}

.backgr_footer {
    height: 72px;
    border-top: 72px solid #005392;
    border-left: 0px solid transparent;
    border-right: 72px solid transparent;
    float: right;
    width: 100vw;
}

a:hover {
    color: #00B1EB;
}

.search_input {
    margin-top: 5px;
}

.search_ico {
    display: inline-block;
    position: absolute;
    cursor: pointer;
}

.search_input input {
    height: 47px;
    width: 100%;
    padding-top: 15px;
    outline: none;
    border: none;
    display: inline-block;
    padding-left: 5px;
    color: black;
}

.footer_menu {
    text-align: center;
    padding: 0;
    margin: 0;
}

.footer_menu li {
    list-style-type: none;
    display: inline;
}

.footer_menu li a {
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.footer_menu li:hover {
    background-color: #00B1EB;
}

.footer_menu li a:hover {
    color: white;
}

ul li a:hover {
    color: #00B1EB;
}

.copyright {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.search_input input::-webkit-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    color: #B1DDFF;
    opacity: 1;
}

.search_input input:-moz-placeholder {
    /* Firefox 18- */
    font-family: 'Open Sans', sans-serif;
    color: #B1DDFF;
    opacity: 1;
}

.search_input input::-moz-placeholder {
    /* Firefox 19+ */
    font-family: 'Open Sans', sans-serif;
    color: #B1DDFF;
    opacity: 1;
}

.search_input input:-ms-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    color: #B1DDFF;
    opacity: 1;
}

@media (min-width: 320px) and (max-width: 575px) {
    .search_input {
        display: none;
    }
    .footer_menu li a:not(.vis_320) {
        display: none;
    }
    .footer_menu li a {
        font-size: 12px;
    }
    .copyright {
        font-size: 12px;
    }
    .vis_320 {
        display: block;
    }
    .copyright {
        padding-bottom: 10px;
    }
    .footer_menu {
        text-align: justify;
        padding-left: 10px;
    }
    .second {
        padding-top: 6px;
    }
    .third {
        padding-top: 6px;
        padding-left: 0;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .first {
        display: none;
    }
    .footer_menu li {
        /* padding-right: 4px; */
        /* padding: 2px 3px; */
    }
    .second {
        padding-top: 4px;
    }
    .footer_menu
        {
        display: inline;
    }
    .footer_menu li a {
        font-size: 12px;
    }
    .copyright {
        font-size: 12px;
        padding-top: 11px;
        padding-left: 45px;
    }
    .footer_menu span {
        display: none;
    }
    .footer_menu li:nth-child(6) {
        margin: 0 25px;
    }
    .footer_nav {
        bottom: 15px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .footer_menu li {
        /* padding-right: 3px; */
        padding: 2px 1px;
    }
    .footer_menu li:nth-child(6) {
        margin-right: 30px;
    }
    .footer_menu li a {
        font-size: 12px;
    }
    .search_ico {
        bottom: 10px;
        right: 25px;
    }
    .search_ico img {
        width: 20px;
        height: 20px;
    }
    .footer_menu span {
        display: none;
    }
    .copyright {
        font-size: 12px;
        padding-top: 7px;
    }
    .search_input input::-webkit-input-placeholder {
        font-size: 12px;
    }
    .search_input input :-moz-placeholder {
        /* Firefox 18- */
        font-size: 12px;
    }
    .search_input input ::-moz-placeholder {
        /* Firefox 19+ */
        font-size: 12px;
    }
    .search_input input :-ms-input-placeholder {
        font-size: 12px;
    }
    .search_input input {
        font-size: 12px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .footer_menu li {
        /* padding-right: 17px; */
        padding: 3px 8px;
    }
    .footer_menu li a {
        font-size: 14px;
    }
    .search_ico {
        bottom: 11px;
        right: 25px;
    }
    .search_ico img {
        width: 22px;

        height: 22px;
    }
    .copyright {
        font-size: 14px;
    }
    .search_input input::-webkit-input-placeholder {
        font-size: 14px;
    }
    .search_input input :-moz-placeholder {
        /* Firefox 18- */
        font-size: 14px;
    }
    .search_input input ::-moz-placeholder {
        /* Firefox 19+ */
        font-size: 14px;
    }
    .search_input input :-ms-input-placeholder {
        font-size: 14px;
    }
    .search_input input {
        font-size: 14px;
    }
}

@media (min-width: 1200px) {
    .footer_menu li {
        /* padding-right: 25px; */
        padding: 3px 12px;
    }
    .footer_menu li a {
        font-size: 16px;
    }
    .search_ico {
        bottom: 10px;
        right: 25px;
    }
    .copyright {
        font-size: 16px;
    }
    .search_input input {
        font-size: 16px;
    }
    .search_input input::-webkit-input-placeholder {
        font-size: 16px;
    }
    .search_input input :-moz-placeholder {
        /* Firefox 18- */
        font-size: 16px;
    }
    .search_input input ::-moz-placeholder {
        /* Firefox 19+ */
        font-size: 16px;
    }
    .search_input input :-ms-input-placeholder {
        font-size: 16px;
    }
    .backgr_footer {
        width: 100vw;
    }
}