.mediacenter {
    font-family: 'Exo 2', sans-serif;
}

.media_section {
    text-align: center;
    color: #005392;
    cursor: pointer;
    border-bottom: 2px solid #ffffff
}

.mediacenter_header {
    margin-bottom: 40px;
}
.mediacenter_header a {
    text-decoration: none;
}
.mediacenter_content {
    margin-bottom: 20px;
}

.media_section.news {
    border-bottom: 2px solid #005392
}

.subheader_news {
    display: inline;
}

.subheader_news a {
    /* font-size: 18px; */
    color: #005392;
    display: inline;
    cursor: pointer;
    text-decoration: none;
}

.subheader_news a:hover {
    color: #00B1EB;
}

.news_date {
    display: inline;
    font-family: 'Open Sans', sans-serif;
    float: right;
    /* font-size: 16px; */
    /* cursor: pointer; */
    color: #B1DDFF;
}

.news_paragraph {
    font-family: 'Open Sans', sans-serif;
    /* font-size: 16px; */
    line-height: 22px;
}

.news_paragraph span a {
    color: #005392;
    cursor: pointer;
    text-decoration: none;
}

.news_paragraph span a:hover {
    color: #00B1EB;
    cursor: pointer;
}

.media_image {
    background-size: cover;
    overflow: hidden;
    text-align: center;
    height: 120px;
}

.media_image img {
    height: 100%;
}

.pagination span {
    font-size: 28px;
    color: #005392;
    position: relative;
    top: 2px;
}

.page-link {
    border: none;
    font-size: 26px;
    color: #005392;
}
.page-link:focus, .page-link:hover {
    background-color: initial;
    
}
.page-link:hover {
    
    color: #00B1EB;
}
@media (min-width: 320px) and (max-width: 575px) {
    .media_section {
        font-size: 20px;
    }
    .hidden320 {
        display: none;
    }
    .media_image {
        margin-bottom: 20px;
    }
    .pagination span {
        font-size: 22px;
    }
    .page-link {
        font-size: 20px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .media_section {
        font-size: 22px;
    }
    .media_image {
        height: 60px;
    }
    .media_description {
        font-size: 12px;
    }
    .subheader_news {
        font-size: 14px;
    }
    .pagination span {
        font-size: 24px;
    }
    .page-link {
        font-size: 22px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .media_section {
        font-size: 22px;
    }
    .media_image {
        height: 90px;
    }
    .media_description {
        font-size: 12px;
    }
    .subheader_news {
        font-size: 14px;
    }
    .pagination span {
        font-size: 24px;
    }
    .page-link {
        font-size: 22px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .media_section {
        font-size: 24px;
    }
    .media_description {
        font-size: 14px;
    }
    .subheader_news {
        font-size: 16px;
    }
    .pagination span {
        font-size: 26px;
    }
    .page-link {
        font-size: 24px;
    }
}

@media (min-width: 1200px) {
    .media_section {
        font-size: 26px;
    }
    .media_description {
        font-size: 16px;
    }
    .subheader_news {
        font-size: 18px;
    }
    .pagination span {
        font-size: 28px;
    }
    .page-link {
        font-size: 26px;
    }
}